{% extends 'blog/base.html' %}

<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">

    <title>Document</title>
</head>
<body>
    it works!
    {% block content %}
        {% for post in posts %}
            <h1>{{post.title}}</h1>
            <br>
            <h3>{{post.published_date}}</h3>
            <br>
            <h3>{{post.text}}</h3>
        {% endfor %}
    {% endblock %}
</body>
</html>